APP_NAME="Ship Inspection Portal"
APP_ENV=local
APP_KEY=base64:GENERATE_WITH_php_artisan_key_generate
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=db_swan
DB_USERNAME=postgres
DB_PASSWORD=swan

EXTERNAL_API_BASE_URL=http://sire2.swan-manila.com/api

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
